<!-- Exercício do Contador -->

<app-exercicio-contador 
[valor]="10" 
(valorMudou)="onValorAtualizadoNoContador($event)"
></app-exercicio-contador>
<hr>

<!-- Exemplos Event Binding -->

<button 
    (click)="onClickBotaoEmissor($event)">
    Emitir informações de click
</button><br><br>

<button
    (click)="onClick($event)" 
    (mouseenter)="passouMouse()">
    Clique em mim!
</button><br><br>

<input type="text" [value]='valorDoInput' (keyup)="digitouAlgo($event)"><br>

Valor do Input: {{ valorDoInput }}

<hr>

<!-- Exemplos Property Binding -->

<p> Palavra: {{ palavra }} </p>
<p> Color: {{ color }} </p>

<input type="text" [value]="initialValue"><br>

<button [disabled]='isDisabled'>Clique em mim!</button><br>

<p [attr.aria-label]="isDisabled ? 'Botão Desabilitado' : acessibilityText">
    "Um texto qualquer"
</p><br>

<img [src]="imageURL">