<app-header [title]="title"></app-header>

<router-outlet></router-outlet>

<div class="p-4">
  <div class="alert alert-primary" role="alert">
    A simple primary alert—check it out!
  </div>
</div>

<!-- <app-exercicio-pipes></app-exercicio-pipes> -->

<!-- <app-exercicio-ngclass></app-exercicio-ngclass> -->

<!-- <app-exercicio-diretivas></app-exercicio-diretivas> -->

<!-- <app-exercicio-data-binding
  [palavra]="palavra"
  [color]="'green'"
  (clicado)="eventoRecebido($event)"
></app-exercicio-data-binding> -->

<app-footer></app-footer>